@import '../../../styles.scss';

h1{
    @include logoText($custom-purple);
    font-size: 70px;
    margin-top: 70px;
    padding-bottom: 20px;
}

#options{
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    span{
        font-size: 35px;
        color: $custom-cian;
        text-shadow: $custom-cian 1px 0px 5px;
    }

    input[type="text"]{
        @include borderLigths($custom-green, $custom-dark-bg);
        width: 40px;
        padding: 5px;
        font-size: 30px;
        text-align: center;
    }
}

#buttons{
    button{
        @include borderLigths($custom-purple, $custom-dark-bg);
        font-size: 20px;
        width: 180px;
        height: 40px;
        margin: 15px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:hover{
        background-color: $custom-purple;
        color: $custom-dark-bg;
        font-weight: bold;
    }
}

.arrow {
    border: none;
    background: none;
    margin: 8px;
    font-size: 30px;
    color: $custom-green;
    text-shadow: $custom-green 0px 0px 4px;
    cursor: pointer;
}

.arrow:hover{
    color: $custom-cian;
    text-shadow: $custom-cian 0px 0px 4px;
}

.arrow:disabled {
    color: $custom-dark-bg;
    text-shadow: $custom-dark-bg 0px 0px 4px;
    cursor: auto;
}

