<section id="board-grid">
        <!--<ng-container *ngFor="let i = 0; i <= boardRows; i++">
            <input class="square" data-row-index="0" data-col-index="0" type="button" value="">
        </ng-container>-->
        <!-- Row #1 -->
        <input class="square" data-row-index="0" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="0" data-col-index="15" type="button" value="">
        <!-- Row #2 -->
        <input class="square" data-row-index="1" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="1" data-col-index="15" type="button" value="">
        <!-- Row #3 -->
        <input class="square" data-row-index="2" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="2" data-col-index="15" type="button" value="">
        <!-- Row #4 -->
        <input class="square" data-row-index="3" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="3" data-col-index="15" type="button" value="">
        <!-- Row #5 -->
        <input class="square" data-row-index="4" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="4" data-col-index="15" type="button" value="">
        <!-- Row #6 -->
        <input class="square" data-row-index="5" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="5" data-col-index="15" type="button" value="">
        <!-- Row #7 -->
        <input class="square" data-row-index="6" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="6" data-col-index="15" type="button" value="">
        <!-- Row #8 -->
        <input class="square" data-row-index="7" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="7" data-col-index="15" type="button" value="">
        <!-- Row #9 -->
        <input class="square" data-row-index="8" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="8" data-col-index="15" type="button" value="">
        <!-- Row #10 -->
        <input class="square" data-row-index="9" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="9" data-col-index="15" type="button" value="">
        <!-- Row #11 -->
        <input class="square" data-row-index="10" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="10" data-col-index="15" type="button" value="">
        <!-- Row #12 -->
        <input class="square" data-row-index="11" data-col-index="0" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="1" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="2" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="3" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="4" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="5" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="6" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="7" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="8" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="9" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="10" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="11" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="12" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="13" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="14" type="button" value="">
        <input class="square" data-row-index="11" data-col-index="15" type="button" value="">
    
</section>

