@import '../../../styles.scss';

$menu-heigth: 70px;
$button-heigth: 40px;

#menu {
    height: $menu-heigth;
    width: 100%;
    background-color: $custom-dark-bg;
    box-shadow: 5px 0px 10px rgba(240, 240, 240, 0.8);
}

#logo {
    width: 25%;
    float: left;
    margin-left: 40px;
    height: inherit;
}

#logo h1 {
    @extend %logo-text;
    line-height: 70px;
    font-size: 40px;
}

#options {

    width: 30%;
    float: right;

    button{
        width: 120px;
        height: $button-heigth;
        font-size: 18px;
        margin-top: ($menu-heigth - $button-heigth - 2) / 2;
        margin-right: 20px;
        float: right;
        border: 2px solid $custom-green;
        border-radius: 5px;
        background-color: $custom-dark-grey;
        color: $custom-green;
        text-shadow: $custom-green 1px 0 5px;
        box-shadow: 0px 0px 8px $custom-green,
            0px 0px 8px $custom-green inset;
        cursor: pointer;
        transition: all 300ms;   
    }

    button:hover{
        background-color: $custom-green;
        color: $custom-dark-grey;
        font-weight: bold;
    }
}