/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

$custom-dark-bg: #1e1f1c;
$custom-light-bg: #272822;
$custom-cian: #03cec2;
$custom-green: #adc607;
$custom-red: #ed4938;
$custom-purple: #7b3dba;
$boardRows: 12;
$boardColumns: 16;
$custom-dark-grey: #1e1f1c;