@import '../../../styles.scss';

:host{
    width: 100%;
    height: 100%;
    background: $custom-dark-bg;
    /* Estas dos lineas permiten que el componente ocupe 
    toda la pantalla sin fijar los componentes en ella*/
    overflow: auto;
    
    position: fixed;
}